header{
    h1{
        color: brown;
        font-size: 50px;
        font-family: monospace;
        text-transform: uppercase;
    
    }

}

nav{
    li{
        list-style: none;

        a{

            .boxOne{ 
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: darkgray;
                height: 50px;
                width: 50px;
                border: 1px burlywood
        
            }

            .boxTwo{

            }

            &:hover{
                background-color: brown;
            }
        }
    }
}


body{
    

    .parrafoDos{
        text-align: center;
        background-color: blanchedalmond;
        text-transform: uppercase;
    }
    
    .parrafoTres{
        text-align: left;
        background-size: 230px;
        background-color: cadetblue;
        font-weight: bold;
    
    
    }
    
    .parrafoNosotros{
        text-align: center;
        color: brown;
        background-color: bisque;
        font-weight: bold;
    }
    
    .parrafoUs{
        text-align: center;
        background-color: azure;
        background-image: url(https://media.ambito.com/p/e89ae2e259aa3d8db53266ba0e542451/adjuntos/239/imagenes/039/495/0039495428/730x0/smart/panaderosjpg.jpg);
    }
    
    background-image: url(https://img.freepik.com/free-vector/hand-drawn-bakery-background_23-2148136973.jpg);
}

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;

